.btn-info{
    background-color: #f44336;
    font-size: 16px;
    padding: 14px 40px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.btn-infom{
    background-color: #008CBA;
    font-size: 16px;
    padding: 14px 40px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.btn-info:hover{
    color: white;
}
.btn-infom:hover{
    color: white;
}