#button{
    background-color: #4CAF50;
    font-size: 16px;
    padding: 14px 40px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
#button:hover{
    color: #f4f4f4;
}